{% extends "base-template.html" %}
{% block content %}

<style>
	.blinking{
    animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
</style>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9qwTOe5jp5SGiiF00Gku329KeJE1cYa0&callback=initMap"
  type="text/javascript"></script>

	<!-- //page -->
<div class="banner-bootom-w3-agileits">
		<div class="container">
	<!-- Single Page -->
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Detail Kamar
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->

			<div class="col-md-5 single-right-left ">
				<div class="grid images_3_of_2">
					<div class="flexslider">
						<ul class="slides">
							<li data-thumb="{{ room_images }}">
								<div class="thumb-image">
									<img src="{{ room_images }}" data-imagezoom="true" class="img-responsive" alt="files/{{ room_images }}"> </div>
							</li>
							<!--<li data-thumb="{{ GAMBAR }}">-->
								<!--<div class="thumb-image">-->
									<!--<img src="{{ GAMBAR }}" data-imagezoom="true" class="img-responsive" alt=""> </div>-->
							<!--</li>-->
							<!--<li style="display: none;" data-thumb="https://trinanda.github.io/grocery_shoppy_web/images/si3.jpg">-->
								<!--<div class="thumb-image">-->
									<!--<img src="https://trinanda.github.io/grocery_shoppy_web/images/si3.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>-->
							<!--</li>-->
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<div class="col-md-7 single-right-left simpleCart_shelfItem">
				<h3>{{ NAMA_KAMAR }}</h3>
				<h5><b class="blinking"><i>{{ KAMAR_TERSEDIA }}</i></b></h5>
				<!--<p style="visibility: hidden;">{{ id_kamar }}</p>-->
				<!--<div class="rating1">-->
					<!--<span class="starRating">-->
						<!--<input id="rating5" type="radio" name="rating" value="5">-->
						<!--<label for="rating5">5</label>-->
						<!--<input id="rating4" type="radio" name="rating" value="4">-->
						<!--<label for="rating4">4</label>-->
						<!--<input id="rating3" type="radio" name="rating" value="3" checked="">-->
						<!--<label for="rating3">3</label>-->
						<!--<input id="rating2" type="radio" name="rating" value="2">-->
						<!--<label for="rating2">2</label>-->
						<!--<input id="rating1" type="radio" name="rating" value="1">-->
						<!--<label for="rating1">1</label>-->
					<!--</span>-->
				<!--</div>-->
			<div class="occasion-cart">
					<div class="top_brand_home_details item_add single-item hvr-outline-out">
						<form action="http://192.168.100.3:7575/checkout/{{ id_kamar }}" method="get">
							<fieldset>
								<!--<input type="value" name="cmd" value="_cart" />-->
				<p>
					<span class="item_price">Rp. {{ HARGA_KAMAR }}</span>
					<label>Per Malam</label>
				</p>
                <!--<input type="number" name="add" value="1" style="width: 50px;"/>-->
                 <div class="col-10">

                     <label style="font-size: 12px;">Anda ingin menginap berapa malam?</label>
                    <input class="form-control" type="number" name="lama_menginap" value="1" placeholder="1" id="example-number-input" style="width: 70px;">
                 </div>

                                <!--<div class="single-infoagile">-->
					<!--<ul>-->
						<!--<li>-->
							<!--Cash on Delivery Eligible.-->
						<!--</li>-->
						<!--<li>-->
							<!--Shipping Speed to Delivery.-->
						<!--</li>-->
						<!--<li>-->
							<!--Sold and fulfilled by Supple Tek (3.6 out of 5 | 8 ratings).-->
						<!--</li>-->
					<!--</ul>-->
				<!--</div>-->
				<div class="product-single-w3l">
					<p>
						<i class="fa fa-hand-o-right" aria-hidden="true"></i>Deskripsi
						<label>Kamar </label>:</p>
					<ul>
						<li>
							{{ keterangan_kamar | striptags }}
						</li>
						<!--<li>-->
							<!--After cooking, Zeeba Basmati rice grains attain an extra ordinary length of upto 2.4 cm/~1 inch.-->
						<!--</li>-->
						<!--<li>-->
							<!--Zeeba Basmati rice adheres to the highest food afety standards as your health is paramount to us.-->
						<!--</li>-->
					</ul>
					<p>
						<i class="fa fa-refresh" aria-hidden="true"></i>Lokasi
						<label>Homestay.</label>
						<ul>
							<!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8074337840903!2d100.65922441435008!3d-0.13384633549136665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e2aad768ee3391d%3A0xaf35949edaaf7d20!2sJalan+Raya+Tarantang%2C+Tarantang%2C+Harau%2C+Kabupaten+Lima+Puluh+Kota%2C+Sumatera+Barat+26271!5e0!3m2!1sid!2sid!4v1524061392045" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>-->

							<!--&lt;!&ndash; mapbox &ndash;&gt;-->
							<!--<div id='map' style='width: 400px; height: 300px;'></div>-->
							<!--<script>-->
							<!--mapboxgl.accessToken = 'pk.eyJ1IjoidHJpbmFuZGEzIiwiYSI6ImNqZzZwMzB1dTBlOHcyeHFsaGxremFoMXUifQ.eIIDnevmMnASYpTODw6lOg';-->
							<!--var map = new mapboxgl.Map({-->
							<!--container: 'map',-->
							<!--style: 'mapbox://styles/mapbox/streets-v10'-->
							<!--});-->
							<!--</script>-->
							<!--&lt;!&ndash; /mapbox &ndash;&gt;-->
							{% with %}

								{% set location=LATITUDE,LONGITUDE %}
								{% set style="width:350px;height:250px;"%}

								{{
								googlemap(
									"simple-map",
									location.0, location.1,
									markers=[location,],
									style=style
									)
								}}

							{% endwith %}
							<input type="hidden" name="LATITUDE" value="{{ LATITUDE }}" style="width: 70px;">
							<input type="hidden" name="LONGITUDE" value="{{ LONGITUDE }}" style="width: 70px;">
							<li><a href="{{ LIHAT_LOKASI }}" target="_blank">Pergi ke lokasi <i><del>Code Review, (menunggu masukan dari Pak Arif terlebih dahulu)</del></i></a></li>
						</ul>
					</p>
				</div>
								<input type="hidden" name="id_kamar" value="{{ id_kamar }}" />
								<input type="hidden" name="harga_kamar" value="{{ HARGA_KAMAR }}" />
								<input type="hidden" name="nama_kamar" value="{{ NAMA_KAMAR }}" style="width: 70px;">
								<input type="hidden" name="foto_kamar" value="{{ room_images }}" style="width: 70px;">

								<!--<input type="value" name="add" value="1" />-->
								<!--<input type="value" name="business" value=" " />-->
								<!--<input type="value" name="item_name" value="Zeeba Premium Basmati Rice - 5 KG" />-->
								<!--<input type="value" name="amount" value="950.00" />-->
								<!--<input type="value" name="discount_amount" value="1.00" />-->
								<!--<input type="value" name="currency_code" value="USD" />-->
								<!--<input type="value" name="return" value=" " />-->
								<!--<input type="value" name="cancel_return" value=" " />-->
								<input type="submit" name="submit" value="Booking Kamar" class="btn btn-primary btn-lg" />
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}
