{% extends "theme.html" %}

{% block title %}
	{{ super() }}
    Edit Kamar
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="row">
    <div class="col-lg-12">
        <!--<h2 class="page-header">Halaman Dashboard</h2>-->
        <h2 class="page-header">{{ NAMA_HOMESTAY }}</h2>
    </div>
	</div>
	<div class="row">
	    <div class="col-lg-12">
	        <div class="panel panel-info">
	            <div class="panel-heading">

	            </div>
	            <!-- /.panel-heading -->
	            <div class="panel-body">

                    <div class="page-header">
                        <h2>Edit</h2>
                    </div>

                    <form action="{{url_for('kamar_edit', kamar_id=kamar.Kamar.id_kamar)}}" method="post">
                        {{ form.csrf_token }}
                        {{ form.nama_kamar(value = kamar.Kamar.nama_kamar) }}
                        {{ form.keterangan_kamar(value=kamar.Kamar.keterangan_kamar) }}
                        {{ form.harga_kamar(value=kamar.Kamar.harga_kamar) }}
                        {{ form.status(value=kamar.Kamar.status) }}
                        <input type=file name=photo>
                        <button class="btn btn-sm btn-success" type="submit">Edit Kamar</button>
                    </form>

                </div>
	            <!-- /.panel-body -->
	        </div>
	        <!-- /.panel -->
	    </div>
	    <!-- /.col-lg-12-->
	</div>
{% endblock %}
