{% extends "base-template.html" %}
{% block content %}
<!-- tittle heading -->
<h3 class="tittle-w3l">Pilih Kamar
	<span class="heading-style">
		<i></i>
		<i></i>
		<i></i>
	</span>
</h3>
<!-- //tittle heading -->

{% for ROOMS in KAMARS %}

<!-- non aktivkan untuk sementara, karena tampilan wrapper untuk web masih kurang ok -->
<!--<div class="agileinfo-ads-display col-md-7 w3l-rightpro">-->
		<!--<div class="wrapper">-->
				<!--<div class="product-sec1">-->
					<!--<form action="http://127.0.0.1:7575/detail_kamar/{{ ROOMS.id_kamar }}" method="get">-->
					<form action="http://127.0.0.1:7575/detail_kamar/{{ ROOMS.id_kamar }}" method="get">
						<div class="col-xs-4 product-men">
							<div class="simpleCart_shelfItem">
								<div class="men-thumb-item">
									<img src="files/{{ ROOMS.room_images }}" alt="" style="width: 180px; height: 180px;">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<!--<a href="http://localhost//templates/template_tugas_akhir/grocery_shoppy_web/single.html" class="link-product-add-cart">Quick View</a>-->
											<!--<a href="" class="link-product-add-cart">Lihat Kamar</a>-->
											<input type="submit" value="Lihat Kamar" class="link-product-add-cart">
										</div>
									</div>
								</div>
								<div class="item-info-product ">
									<h4>
										<a href="#">{{ ROOMS.nama_kamar }}</a>
									</h4>
									<div class="info-product-price">
										<span class="item_price">Rp. {{ ROOMS.harga_kamar }} / Malam</span>
									</div>
									<div class="snipcart-details">
											<fieldset>
												<input type="hidden" name="id_kamar" value="{{ ROOMS.id_kamar }}" />
												<!--<input type="hidden" name="lokasi" value="{{ ROOMS.lokasi }}" />-->
												<input type="hidden" name="room_images" value="http://127.0.0.1:7575/files/{{ ROOMS.room_images }}" />
												<input type="submit" name="submit" value="Lihat Detail" class="button" />

											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>
<!-- // non aktivkan untuk sementara, karena tampilan wrapper untuk web masih kurang ok -->
				<!--<div class="clearfix"></div>-->
				<!--</div>-->
		<!--</div>-->
<!--</div>-->

{% endfor %}

{% endblock %}

