{% extends "index.html" %}
{% block content %}
<!-- tittle heading -->
<h3 class="tittle-w3l">Pilih Kamar
	<span class="heading-style">
		<i></i>
		<i></i>
		<i></i>
	</span>
</h3>
<!-- //tittle heading -->

{% for ROOMS in KAMARS %}

<!-- non aktivkan untuk sementara, karena tampilan wrapper untuk web masih kurang ok -->
<!--<div class="agileinfo-ads-display col-md-7 w3l-rightpro">-->
		<!--<div class="wrapper">-->
				<!--<div class="product-sec1">-->

						<div class="col-xs-4 product-men">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item">
									<img src="files/{{ ROOMS.path }}" alt="" style="width: 180px; height: 180px;">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<!--<a href="http://localhost//templates/template_tugas_akhir/grocery_shoppy_web/single.html" class="link-product-add-cart">Quick View</a>-->
											<a href="{{ ButtonPressed1 }}" class="link-product-add-cart">Lihat Kamar</a>
										</div>
									</div>
								</div>
								<div class="item-info-product ">
									<h4>
										<a href="#">{{ ROOMS.nama_kamar }}</a>
									</h4>
									<div class="info-product-price">
										<span class="item_price">Rp. {{ ROOMS.harga_kamar }} / Malam</span>
									</div>
									<div class="snipcart-details">
										<form action="http://localhost:7575/detail_kamar/{{ id_kamar }}" method="post">
											<fieldset>
												<input type="submit" name="submit" value="Lihat Detail" class="button" />
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>

<!-- // non aktivkan untuk sementara, karena tampilan wrapper untuk web masih kurang ok -->
				<!--<div class="clearfix"></div>-->
				<!--</div>-->
		<!--</div>-->
<!--</div>-->

{% endfor %}

{% endblock %}

