<!DOCTYPE html>
<html lang="en">

<head>
    <title>Invoice</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">

    <!-- CSS code from Bootply.com editor -->

    <style type="text/css">
       .invoice-head td {
         padding: 0 8px;
       }

       .container {
         padding-top: 30px;
       }

       .invoice-body {
         background-color: transparent;
       }

        .invoice-thank {
         margin-top: 60px;
         padding: 5px;
       }

       address {
         margin-top: 15px;
       }
     </style>
</head>

<!-- HTML code from Bootply.com editor -->

<body>
  <div class="container">
    <div class="row">
      <div class="span4">
        <img src="//placehold.it/170x40" class="img-rounded logo">
        <address>
          <strong>ACME, Inc.</strong><br>
          P.O Box 3171<br>
          Kent, WA 98089<br>
        </address>
      </div>
      <div class="span4 well">
        <table class="invoice-head">
          <tbody>
            <tr>
              <td class="pull-right"><strong>Customer #</strong></td>
              <td>21398324797234</td>
            </tr>
            <tr>
              <td class="pull-right"><strong>Invoice #</strong></td>
              <td>2340</td>
            </tr>
            <tr>
              <td class="pull-right"><strong>Date</strong></td>
              <td>10-08-2013</td>
            </tr>
            <tr>
              <td class="pull-right"><strong>Period</strong></td>
              <td>9/1/2103 - 9/30/2013</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <h2>Invoice</h2>
      </div>
    </div>
    <div class="row">
      <div class="span8 well invoice-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nama Kamar</th>
              <th>Tanggal Pemesanan</th>
              <th>Lama menginap</th>
              <th>Harga Permalam</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Echo A</td>
              <td>10/8/2013</td>
              <td>2 Malam</td>
              <td>Rp. 750.000</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><strong>Total</strong></td>
              <td><strong>Rp. 1.500.000, 00</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="span3 ">
        <!--<h5 style="text-align:center;">Thank You!</h5>-->
          <!--<button type="button" class="btn btn-primary btn-lg">Upload Bukti Pembayaran</button>-->
          <table border="0">
              <tr>
                  <th><a href=""><button type="button" class="btn btn-primary btn-lg" style="width: 150px;">Download PDF</button></a></th>
                  <th><a href=""><button type="button" class="btn btn-primary btn-lg" style="width: 200px;">Upload bukti pembayaran</button></a></th>
              </tr>
          </table>
      </div>
    </div>
      <br>
    <div class="row">
      <div class="span3">
        <strong>Phone:</strong> <a href="tel:0857-6755-3814">0857-6755-3814</a>
      </div>
      <div class="span3">
        <strong>Email:</strong> <a href="zidanecr7kaka@gmail.com">zidanecr7kaka@gmail.com</a>
      </div>
      <div class="span3">
        <strong>Website:</strong> <a href="http://128.199.80.54:7575" target="_blank">128.199.80.54:7575</a>
      </div>
    </div>
  </div>

  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type='text/javascript' src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

  <!-- JavaScript jQuery code from Bootply.com editor  -->

  <script type='text/javascript'>
    $(document).ready(function() {

    });
  </script>

  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-40413119-1', 'bootply.com');
    ga('send', 'pageview');
  </script>

</body>
</html>
